#page-container {
	position: relative;
	min-height: 100%;
	padding-right: 0rem;
	padding-left: 0rem;
	padding-bottom: 0rem;
	margin-left: 0rem;
	margin-right: 0rem;
	width: 100%;
  }
  
  #content-wrap {
	padding-bottom: 0rem;    /* Footer height */
  }

.card-footer {
	border-radius: 0;
	border-bottom-left-radius: 0;
}
  
  