.user_text {
	background-color: #fffeed;
	align-items: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
	margin-top: 0.5rem;
}

.card {
	border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

  .card-footer {
	background-color: #0e202e;
	position: relative;
	bottom: 0;
	margin-bottom: 0;
	width: 100%;


  }

  .container {
	margin-top: 1rem;
  }

  .nav-item {
	padding-left: 2rem;
  }

  .zoom {
	height: 12rem;
	width: auto;
	overflow: hidden;
  }
  
  .zoom {
	transition: transform 0.2s;
	margin-top: 2rem;
	margin-bottom: 2rem;
	position: center;
  }
  
  .zoom:hover {
	transform: scale(1.2); 
  }
