{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="page-container">
<div class="container">
	<!-- /.container -->
	<div class="col-lg-15">
		<!-- /.col-lg-15 -->
		<div class="row">
			<!-- /.row -->
			{% for wine in wines %}
			<div class="col-lg-4 col-md-6 mb-4">
				<!-- /.col-lg-4 -->
				<div class="card h-100 ">
					<!-- /.card h-100 -->
					<a href="{% url 'wine_detail' wine.pk %}">  
						<img class="zoom" style="padding-left: 7rem;" src="http://127.0.0.1:8000/media/{{ wine.image }}"  alt="{{wine.name}}">
					</a>
					<div class="card-body">
						<!-- /.card-body -->
						<h4 class="card-title" style="color:#254b68; font-size: 1.4rem;">
							{% if wine.name|length > 22 %}
						<p>{{wine.name|slice:22}} 
							<a href="{% url 'wine_detail' wine.pk %}" style="color: #254b68;">... </a>
						</p>
						{% else %}
						<p>{{wine.name}} </p>
						{% endif %}
							
						</h4>
						
						<p class="card-text" >
							{% if wine.description|length > 92 %}
						<p style="text-align: justify;">{{wine.description|slice:92}} 
							<a href="{% url 'wine_detail' wine.pk %}" style="color: #254b68;">  ... mai multe detalii </a>
						</p>
						{% else %}
						<p style="text-align: justify;">{{wine.description}} </p>
						{% endif %}
						<h5 style="color: #254b68; position: relative; top: 10px;">
							<strong>{{ wine.price }} lei</strong>

						</h5>
					</div>
					<!-- /.card-body -->
					<div class="card-footer" style="background-color: #d6d6d6; position: relative;
					bottom: 0;">
						<!-- /.card-footer -->
						<form>
							<div class="form-row align-items-center">
								<div class="col-auto my-0">
									<a href="{% url 'cart_add' wine.id %}" class="btn btn-info" role="button" style="background-color: #fffeed; color:black; padding-right: 6rem; padding-left: 6rem; border: #fffeed;">
									<strong>
									Adauga in Cos
									</strong>
									</a>
								</div>
								<div class="col-auto my-0">
								</div>
							</div>
						</form>
						{% if wine.quantity > 5 %}
						<div style="color: green; padding-left: 6rem; padding-top: 0.5rem; font-size: 0.9rem;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
							Stoc Disponibil
						</div>
						{% elif wine.quantity >= 2 %}
						<div style="color: orange; padding-left: 6rem; padding-top: 0.5rem; font-size: 0.9rem;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
							Stoc Limitat
						</div>
						{% elif wine.quantity == 1 %}
						<div style="color: orangered; padding-left: 6rem; padding-top: 0.5rem; font-size: 0.9rem;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
							Ultimul produs
						</div>
						{% endif %}
					</div>
					<!-- /.card-footer -->
				</div>
				<!-- /.card h-100 -->
			</div>
			<!-- /.col-lg-4 -->
			{% endfor %} 
		</div>
		<!-- /.row -->
	</div>
	<!-- /.col-lg-15 -->
</div>
<!-- /.container -->
</div>
{% endblock %}