{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container"> <!-- /.container -->
	<div class="col-lg-15"> <!-- /.col-lg-15 -->
		<div class="row"> <!-- /.row -->
			{% for wine in wines %}
			<div class="col-lg-4 col-md-6 mb-4"> <!-- /.col-lg-4 -->
				<div class="card h-100"> <!-- /.card h-100 -->
					{% with wine.postimage_set.all|first as wine_image %}
						<img class="zoom"  src="http://127.0.0.1:8000/media/{{ wine_image.image }}"  alt="{{wine.name}}">
					{% endwith %} 
					<div class="card-body"> <!-- /.card-body -->
						<h4 class="card-title">
							<a href="{% url 'wine_detail' wine.pk %}"> {{wine.name}} </a>
						</h4>
						<h5 style="text-decoration:indigo; text-decoration: indigo;">{{ wine.price }} lei</h5>
						<p class="card-text">
							{% if wine.description|length > 100 %}
								<p>{{wine.description|slice:100}} 
									<a href="{% url 'wine_detail' wine.pk %}">  ... mai multe detalii </a>
								</p>
							{% else %}
								<p>{{wine.description}} </p>
							{% endif %}
							
					</div> <!-- /.card-body -->
					
					<div class="card-footer" style="background-color: #d6d6d6;"> <!-- /.card-footer -->
						<form>
							<div class="form-row align-items-center">
								
								<div class="col-auto my-0">
									

									<a href="{% url 'cart_add' wine.id %}" class="btn btn-info" role="button" style="background-color: #fffeed; color:black; padding-right: 6rem; padding-left: 6rem; border: #fffeed;">
										<strong>
											Adauga in Cos
										</strong>
									</a>

									

								






								</div>
							  	<div class="col-auto my-0">
										
							  	</div>
							  
							  
							</div>
						  </form>

						  {% if wine.quantity > 5 %}
							<div style="color: green; padding-left: 6rem; padding-top: 0.5rem; font-size: 0.9rem;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
								Stoc Disponibil
							</div>
							{% elif wine.quantity >= 3 %}
								<div style="color: orange; padding-left: 6rem; padding-top: 0.5rem; font-size: 0.9rem;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
									Stoc Limitat
								</div>
								{% elif wine.quantity == 1 %}
								<div style="color: orangered; padding-left: 6rem; padding-top: 0.5rem; font-size: 0.9rem;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
									Ultimul produs
								</div>
							{% endif %}
					</div> <!-- /.card-footer -->
				</div> <!-- /.card h-100 -->
			</div> <!-- /.col-lg-4 -->
			{% endfor %} 
		</div> <!-- /.row -->
	</div> <!-- /.col-lg-15 -->
</div> <!-- /.container -->
{% endblock %}

